/******************************************
/* CSS
/*******************************************/


/* Box Model Hack */

* {
    box-sizing: border-box;
}


/******************************************
  /* LAYOUT
  /*******************************************/

img {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

body {
    max-width: 600px;
    max-height: fit-content;
    background-color: lightgreen;
    padding-left: 10px;
}

h1 {
    text-align: center;
}

form {
    padding-left: 10px;
}

button {
    margin-left: 200px;
}


/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/